<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gallery.name %>
</p>

<ul id="photos" class="cf">
  <%= render @gallery.photos %>
</ul>

<input id="fileupload" type="file" name="photo[file]"
       data-photos-path="<%= gallery_photos_path(@gallery) %>" multiple>

<p>
  <%= link_to 'Edit', edit_gallery_path(@gallery) %> |
  <%= link_to 'Back', galleries_path %>
</p>
